img {
    width: 100%;
    height: 100%;
    object-fit: initial;
}

.main_card_cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 900px));
    grid-gap: 30px;
    justify-content: space-around;
    margin: 15px;
  }
.gallery_card {
    width:120px;
    height:120px;
    border-radius: 16px !important;
}
  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }